.login-form {
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-header {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }